# Virtual environments
backend/venv/
backend/.env
backend/serviceAccountKey.json
backend/__pycache__/
backend/*.pyc

# Node
frontend/node_modules/
frontend/.env
frontend/dist/

# OS/IDE
.DS_Store
.vscode/
.idea/
